{% extends 'base.html.twig' %}

{% block title %}Hello ShoppingController!{% endblock %}

{% block body %}
    {% for product in products %}

        <hr>
        <p><strong>{{ product.name }}</strong></p>
        <p>{{ product.description }}</p>
        <p>{{ product.price }} $</p>
        <p>{{ product.stock }} kg</p>

        <a href="{{ path('app_product_show', {id:product.id}) }}">Voir</a>
        {%  if app.user and product.stock > 0 %}
            <a href="{{ path('app_cart_add',{id:product.id, quantity:1}) }}">Add to cart</a>
            {% else %}
            <p>0 Stock</p>
        {% endif %}


        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <hr>

    {% endfor %}
{% endblock %}
