{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% for order in orders %}
        <p><strong>
                id : {{ order.id }} | total : {{ order.total }}<br>

                Billing Address:<br>
                {{ order.billingAddress.street }}<br>
                {{ order.billingAddress.city }}, {{ order.billingAddress.zipCode }}<br>
                {{ order.billingAddress.country }}<br>

                Shipping Address:<br>
                {{ order.shippingAddress.street }}<br>
                {{ order.shippingAddress.city }}, {{ order.shippingAddress.zipCode }}<br>
                {{ order.shippingAddress.country }}<br>

                {% if order.status == 1 %}
                    Status: en cours
                {% endif %}
            </strong></p>

    {% endfor %}
{% endblock %}
