{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    {% for product in products %}

<hr>
        <p><strong>{{ product.name }}</strong></p>
        <p>{{ product.description }}</p>
        <p>{{ product.price }} $</p>
        <p>{{ product.stock }} kg</p>
        <a href="{{ path('app_product_show', {id:product.id}) }}">Voir</a>
<hr>

    {% endfor %}

{% endblock %}
