{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des commandes</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Client</th>
            <th>Total</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer.name }}</td>
                <td>{{ order.total }} €</td>
                <td>
                    {% if order.status == 1 %}
                        <span style="color:orange;">En attente</span>
                    {% elseif order.status == 2 %}
                        <span style="color:green;">Validée</span>
                    {% elseif order.status == 3 %}
                        <span style="color:blue;">Expédiée</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_employee_show', {id: order.id}) }}">Voir</a>
                    <a href="{{ path('generate_pdf', {id: order.id}) }}">
                        PDF
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
