{% extends 'base.html.twig' %}



{% block body %}

    <h3>pick a billing address</h3>
    {% for address in app.user.profile.address %}

        <a href="{{ path('app_order_shippingAddress',{id:address.id}) }}">
            {{ address.number }}
            {{ address.street }}
            {{ address.city }}
            {{ address.zipCode }}
            {{ address.country }}
        </a>

    {% endfor %}

{% endblock %}
